<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>사용자</title>
	<th:block th:include="fragments/header"></th:block>
</head>
<body>

<th:block th:include="fragments/nav"></th:block>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>User Info</h1>
		<table class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">NAME</th>
		      <th scope="col">COMPANY</th>
		    </tr>
		  </thead>
		  <tbody>
			<tr>
		      <th scope="row" th:text="${id}"></th>
		      <td th:text="${name}"></td>
		      <td th:text="${company}"></td>
		    </tr>	
		  </tbody>
		</table>    
		<div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="bth-search"
                    class="btn btn-primary btn-lg">Update
            </button>
        </div> 
    </div>

</div>

<th:block th:include="fragments/footer"></th:block>

</body>
</html>